body {
    min-height: 300vh;
    background: url('../../assets/body-gradient.png');
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    
}

header.fixed  {
    position: fixed; 
    z-index: 101;
    width: 100%;
    transition: .1s ease-out;

    &:hover {
        background-color: darken($dark-color, 100%);

    }

    &.movement {
        background-color: $transparent;

        &:hover{
            background-color: darken($dark-color, 100%)
        }

    }

    .icon {

        i {
            font-size: 20px;
            color: darken($light-color, 15%);
            cursor: pointer;

            &:hover {
                color: lighten($light-color, 15%);

            }
        }

    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
    }

    .menu-items {
        display: flex;
        gap: $gutter;
        
        .menu-links {
            display: flex;
            align-items: center;
            gap: $gutter;

            a {
                text-decoration: none;
                font-size: 14px;
                color: darken($light-color, 15%);

                &:hover {
                    color: lighten($light-color, 15%);
                }

                &:first-child {
                    color: lighten($light-color, 15%);
                }

            }
        }

    }

    img.logo {
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        
    }

    .settings {
        display: flex;
        align-items: center;
        gap: $gutter;
    
        .search {
            
            &.input {
                display: none;
                background-color: #191919;
                padding: 0 8px;

                i {
                    font-size: 28px;
                }

                input {
                    outline: none;
                    background: none;
                    border: none;
                    padding: 6px 0 6px 4px;
                    width: 650px;
                    font-size: 16px;
                    color: $light-color;

                    &::placeholder {
                        font-size: 18px;
                    }


                }

                &.show-input {
                    display: flex;
                    align-items: center;
                    animation: appearField .8s;
                    position: relative;
                    z-index: 99;
                }


            }
        }
        
        .avatar {
            width: 40px;
            height: 40px;
            clip-path: circle(50% at 50% 50%);  
            cursor: pointer;

            img {
                border: 4px solid $secondary-color;
                border-radius: 50%;
                width: 100%;
                height: 100%;

            }

        }

        span {
            font-size: 14px;
            font-weight: 500;
            color: $light-color;
            cursor: pointer;

            &:hover {
                color: lighten($light-color, 15%);
            }
        }
    }


}



section.cover {
    height: 100vh;
    background: url('../../assets/home/section-cover.jpg');
    background-size: cover;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(0,0,0,0) 100%);

    }

    & > * {
        z-index: 100;
    }

    main.container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 50vh;
        display: flex;
        align-items: center;
        padding: 0 0px;


        .item-content {
            max-width: 34%;
            display: flex;
            flex-direction: column;
            

            .item-info {
                display: flex;
                flex-direction: column;

                img.item-title {
                    margin-bottom: $gutter;
                    width: 100%; // optional
                }

                .item-callout {
                    text-transform: uppercase;
                    color: lighten($light-color, 100%);
                    font-weight: 500;
                    
                    font-size: 16px;
                }

                .item-description {
                    margin-block: ($gutter / 4) $gutter;
                    font-weight: 300;
                    color: $light-color;
                    font-size: 14px;
                    line-height: 1.3;
                }

            }

            .item-actions {

                a.play {
                    background: $secondary-gradient;
                    border-radius: 50%;
                    padding: 8px;
                    border: none;
                    
                    margin-right: $gutter / 2;
                    &:hover {
                        background: $reverse-secondary-gradient;

                    }

                    i {
                        padding: 12px 8px; 
                        font-size: 28px;
                        color: $light-color;
                    }
                }

                a.my-list {
                    background-color: $reverse-transparent;
                    color: lighten($light-color, 100%);
                    border-radius: 40px;
                    padding: 6px 38px;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 500;

                    &:hover {
                        background: $primary-color;
                    }

                }

            }

        }

    }



}

main.carousel {

    padding-block: $gutter;

    section {

        h2 {
            color: $light-color;
            font-size: 24px;
            font-weight: 500;
            padding-block: $gutter * 2 $gutter;

        }

        ul {
            // position: relative;
            display: flex;
            // flex-wrap: wrap;
            max-width: 100%;
            overflow-x: scroll;
            gap: $gutter / 2;

            li {
                cursor: pointer;

                img {
                    max-width: 200px;
                    max-height: 300px;
                    
                }
            }
         

        }

    }

}

header.aside {
    position: fixed;
    top: 0;
    z-index: 200;
    background-color: darken($dark-color, 100%);
    
    .genres {
        
        i {
            font-size: 32px;
        }
    }

}

aside.menu-genres {
    position: fixed;
    width: 100%;
    z-index: 200;
    background-color: $transparent;
    backdrop-filter: blur(10px);
    top: 7%;
    height: 100vh;
    animation: appearField 1s;

    .container-aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $gutter;
        padding-top: $gutter * 2;

        h2 {
            font-size: 28px;
            color: $light-color;
            
            span {
                color: $primary-color;
            }


            &::after {
                content: '';
                display: block;
                text-align: center;
                width: 100%;
                height: 3px;
                border-radius: 50%;
                margin: 0 auto;
                margin-top: $gutter / 2;
                background: $primary-gradient;
            }
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $gutter 0;
        gap: $gutter * 1.5;

        a {
            cursor: pointer;
            text-decoration: none;
            color: $light-color;
            font-size: 22px;
            transition: .3s;
            &:hover {
                color: $primary-color;
                transform: scale(1.4);
            }

        }


    }



}