body {
    min-height: 300vh;
    background: url('../../assets/body-gradient.png');
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;

}

header.fixed  {
    position: fixed;
    width: 100%;
    transition: .1s ease-out;

    &:hover {
        background-color: darken($dark-color, 100%);

    }

    &.movement {
        background-color: $transparent;

        &:hover{
            background-color: darken($dark-color, 100%)
        }

    }

    .icon {

        i {
            font-size: 20px;
            color: darken($light-color, 15%);
            cursor: pointer;

            &:hover {
                color: lighten($light-color, 15%);

            }
        }

    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
    }

    .menu-items {
        display: flex;
        gap: $gutter;
        
        .menu-links {
            display: flex;
            align-items: center;
            gap: $gutter;

            a {
                text-decoration: none;
                font-size: 14px;
                color: darken($light-color, 15%);

                &:hover {
                    color: lighten($light-color, 15%);
                }

                &:first-child {
                    color: lighten($light-color, 15%);
                }

            }
        }

    }

    img.logo {
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        
    }

    .settings {
        display: flex;
        align-items: center;
        gap: $gutter;
    
        .search {
            
            &.input {
                display: none;
                background-color: #191919;
                padding: 0 8px;

                i {
                    font-size: 28px;
                }

                input {
                    outline: none;
                    background: none;
                    border: none;
                    padding: 6px 0 6px 4px;
                    width: 650px;
                    font-size: 16px;
                    color: $light-color;

                    &::placeholder {
                        font-size: 18px;
                    }


                }

                &.show-input {
                    display: flex;
                    align-items: center;
                    animation: appearField .8s;
                    position: relative;
                    z-index: 99;
                }


            }
        }
        
        .avatar {
            width: 40px;
            height: 40px;
            clip-path: circle(50% at 50% 50%);  
            cursor: pointer;

            img {
                border: 4px solid $secondary-color;
                border-radius: 50%;
                width: 100%;
                height: 100%;

            }

        }

        span {
            font-size: 14px;
            font-weight: 500;
            color: $light-color;
            cursor: pointer;

            &:hover {
                color: lighten($light-color, 15%);
            }
        }
    }


}



section.cover {
    height: 100vh;
    background: url('../../assets/section-cover.jpg');
    background-size: cover;

}

header.aside {
    position: relative;
    top: 0;
    z-index: 99;
    background-color: darken($dark-color, 100%);

    .genres {
        
        i {
            font-size: 32px;
        }
    }

}

aside.menu-genres {
    position: relative;
    top: 0;
    z-index: 99;
    width: 30%;
    background-color: darken($dark-color, 100%);
    height: 92%;

    ul {
        display: flex;
        flex-direction: column;
        gap: $gutter;
        padding: 20px 130px;


        li {
            cursor: pointer;
            color: $light-color;
            font-size: 22px;

            &:hover {
                color: $primary-color;


            }
        }


    }



}