$primary-color: #663DE8;
$secondary-color: #7E24EB;
$dark-color: #0F0F0F;
$light-color: #e3e3e4;
$transparent: rgba(0, 0, 0, .8);

$gutter: 24px;
$default-radius: 5px;

@mixin courier($size, $color: $dark-color) {
    font-family: 'Courier New', Courier, monospace;
    color: $color;
    
    @if $size == 8 {
        font-size: .5rem;

    } @else if $size == 16 {
        font-size: 1rem;

    } @else if $size == 24 {
        font-size: 1.5rem;

    } @else if $size == 32 {
        font-size: 2rem;

    } @else if $size == 40 {
        font-size: 2.5rem;

    } @else if $size == 48 {
        font-size: 3rem;

    }

}

@mixin lucida($size, $color) {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: $color;

    @if $size == 8 {
        font-size: .5rem;

    } @else if $size == 16 {
        font-size: 1rem;

    } @else if $size == 24 {
        font-size: 1.5rem;

    } @else if $size == 32 {
        font-size: 2rem;

    } @else if $size == 40 {
        font-size: 2.5rem;

    } @else if $size == 48 {
        font-size: 3rem;

    }

}

@mixin responsive($device) {

    @if $device == small {
        @media (max-width: 480px) {
            @content;

        }

    } @else if $device == medium {
        @media (max-width: 768px) {
            @content;

        }

    } @else if $device == large {
        @media (max-width: 1300px) {
            @content;

        }

    }



}